#keyboard {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  justify-content: center;
}

.key {
  border: 1px solid black;
  width: 2rem;
  height: 2rem;

  display: flex;
  align-items: center;
  justify-items: center;
  text-align: center;
}
