#keyboard {
  display: grid;
  grid-template-columns: repeat(10, 2rem);
  grid-gap: 1rem;
  padding: 1rem;
  justify-content: center;
  justify-items: center;
}

.key {
  position: relative;
  border: 1px solid black;
  width: 2rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.mainKey {
  font-size: 20px;
}

.altKey {
  font-size: 10px;
  position: absolute;
  top: 2px;
  left: 2px;
}
